@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card {
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
    padding: 16px;
    margin: 16px;
}