$card-border-radius: 12px;
$card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

$principal-color-one: #843802;
$principal-color-two: #CE8E47;
$principal-color-three: #B46C22;
$principal-color-four: #ECD1A5;
