@use "../styles/mixins" as *;
@use "../styles/variables" as *;


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $principal-color-three;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.795);

    .return-icon{
        font-size: 30px;
        margin-left: 90px;
        cursor: pointer;
        transition: 0.2s ease-in;

        &:hover{
            color: $principal-color-two;
            transition: 0.2s ease-in;
        }
    }

    .image-container{
        margin: 0;
        padding: 0;

        img{
            width: 225px;
        }
    }

    .mode-change{
        font-size: 30px;
        margin-right: 90px;
        cursor: pointer;
        transition: 0.2s ease-in;

        &:hover{
            color: $principal-color-two;
            transition: 0.2s ease-in;
        }
    }
}

body.dark-mode .header {
    background-color: $card-background-dark;

    .return-icon, .mode-change{
        &:hover{
            color: $text-color-dark;
        }
    }
}